<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>完成！</title>
    <script type="application/javascript" th:src="@{/webjars/jquery/jquery.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
</head>
<body>
<div class="container-fluid">
    <span class="text-center">
        <h1 class="display-1 text-success">已完成,请稍等！</h1>
    </span>
</div>
<script>

    window.onload = function () {
        setTimeout(function () {
            window.location.href = "/";
        }, 3000);

    }
</script>
</body>
</html>