<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>上架商品</title>
    <script type="application/javascript" th:src="@{/webjars/jquery/jquery.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/wangEditor/release/wangEditor.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/bootstrap-fileinput/js/fileinput.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-fileinput/css/fileinput.css}">
</head>
<body>
<span th:include="public/head :: head"></span>
<div class="container-fluid"
     style="border-radius:10px;box-shadow:0px 0px 16px 5px #ccc;width: 85%;margin-top: 50px;padding-bottom: 10px;">

    <form action="/seller/add" method="POST" enctype="multipart/form-data">
        <!--user_id-->
        <input name="user_id" style="display: none" th:value="${session.userInfo.user_id}">
        <!--img-->
        <div class="form-group">
            <label>商品展示图:</label>
            <!--此input负责将图片上传到图片文件夹 会返回地址存入下面一个input-->
            <input type="file" id="img" multiple name="img">
            <input type='text' name='carousel' id="carousel" style="display: none" required="required">
        </div>

        <!--name-->
        <div class="form-group">
            <label>商品名:</label>
            <input type="text" class="form-control" name="name" maxlength="50" required="required">
        </div>
        <!--price-->
        <div class="form-group form-row ">
            <label>价格:</label>
            <!--只能输入正整数-->
            <input type="text" class="form-control" name="price_before_point" maxlength="7" style="width: 100px;"
                   onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" required="required"> .
            <!--只能输入整数-->
            <input type="text" class="form-control" name="price_after_point" maxlength="2" style="width: 50px;"
                   onkeyup="value=value.replace(/[^\d]/g,'')" required="required">
        </div>

        <!--introduction-->

        <div class="form-group">
            <h3>介绍你的商品:</h3>
            <div id="editor">

            </div>
            <textarea id="introduction" name="introduction" style="display: none" required="required"></textarea>
        </div>


        <!--submit-->
        <button type="submit" class="btn btn-primary">上架</button>


    </form>


</div>
<!--富文本-->
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#editor')
    // 使用 base64 保存图片
    //editor.customConfig.uploadImgShowBase64 = true;
    //上传到服务器
    editor.customConfig.uploadImgServer = '/file/editor'
    editor.customConfig.uploadFileName = 'file'
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        'fontName',  // 字体
        'italic',  // 斜体
        'underline',  // 下划线
        'strikeThrough',  // 删除线
        'list',  // 列表
        'justify',  // 对齐方式
        'quote',  // 引用
        'image',  // 插入图片
        'table',  // 表格
        'code',  // 插入代码
    ]
    editor.customConfig.onchange = function (html) {
        $("#introduction").val(html);
    }
    editor.create()
</script>
<!--fileInput-->
<script>
    $("#img").fileinput({
        language: 'zh',
        uploadUrl: "/file/img",
        dropZoneTitle: '点击或拖拽文件到此处',
        uploadExtraData: function () {
            return {path: "alinmama_commodity"};
        },//参数
        showBrowse: false,//选取按钮
        showUpload: false, //是否显示上传按钮
        showRemove: false, //显示移除按钮
        showCaption: false,//是否显示标题
        autoReplace: false,
        showClose: false,//关闭关闭按钮
        minFileCount: 1,//最小
        uploadAsync: true,//异步
        maxFileCount: 6,//最大上传数量
        browseOnZoneClick: true,//浏览区域单击选图片
        maxFileSize: 1024 * 5,//图片的最大值
        minFileSize: 1,//图片的最小值
        msgFilesTooMany: "选择上传的文件数量 超过允许的最大数值！",
        enctype: 'multipart/form-data',
        // overwriteInitial: false,//不覆盖已上传的图片
        allowedFileExtensions: ["jpg", "png", "gif"],
        layoutTemplates: {
            actionUpload: '',//去除上传预览缩略图中的上传图片
            actionZoom: '',  //去除上传预览缩略图中的查看详情预览的缩略图标
            actionDownload: '',//去除上传预览缩略图中的下载图标
            actionDelete: '', //去除上传预览的缩略图中的删除图标
        },
    }).on("filebatchselected", function (event, files) {//选取好图片就上传
        $(this).fileinput("upload");
    }).on("fileuploaded", function (event, data) {
        var result = data.response;
        if ($("#carousel").val() === "") {
            $("#carousel").val(result.img)
        } else {
            $("#carousel").val($("#carousel").val() + "," + result.img)
        }

    });

</script>
</body>
</html>