<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>阿林妈妈</title>
    <script type="application/javascript" th:src="@{/webjars/jquery/jquery.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
</head>
<body>
<span th:replace="public/head :: head"></span>
<div class="nav-scroller py-1 mb-2 mx-auto" style="width: 90%;">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" th:href="'/commodity/search?search='+${search}+'&pn=1'" th:each="search:${session.searches}">[[${search}]]</a>
    </nav>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"
     style="background-image: url(/imgs/index.png);">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Alinmama</h1>
        <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with
            this example based on Apple’s marketing pages.</p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
</div>

<h1 class="mx-auto text-center text-danger" style="width: 200px;">热门商品</h1>
<div class="row mx-auto" style="width: 95%">
    <div class="col-md-4" th:each="commodity:${commodities}">
        <div class="card mb-4 shadow-sm">
            <a th:href="'/commodity/'+${commodity.id}"> <img class="bd-placeholder-img card-img-top" width="100%"
                                                             height="225"
                                                             th:src="${commodity.carousel_array[0]}"></a>
            <div class="card-body">
                <p class="card-text">[[${commodity.name}]]</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">[[${commodity.price}]]￥</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">销量[[${commodity.sales}]]</button>
                    </div>
                    <a th:href="'/user/'+${commodity.user_id}" class="text-muted">[[${commodity.nick_name}]]</a>
                </div>
            </div>
        </div>
    </div>
</div>
<span th:replace="public/footer :: footer"></span>
</body>
</html>