<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${session.userInfo.nick_name}]]</title>
    <script type="application/javascript" th:src="@{/webjars/jquery/jquery.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/bootstrap-fileinput/js/fileinput.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-fileinput/css/fileinput.css}">
</head>
<body>
<span th:replace="public/head :: head"></span>
<div class="container-fluid"
     style="border-radius:10px;box-shadow:0px 0px 16px 5px #ccc;width: 85%;margin-top: 50px;padding-bottom: 10px;margin-bottom: 50px;"
     th:if="${session.userInfo.user_id==userInfo.user_id}">
    <!--第一行-->

    <h3>你好!<span th:text="${userInfo.nick_name}"></span>，在这可以更改你的个人信息哦！</h3>
    <hr>
    <!--第二行-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <!--头像和更改头像按钮-->
                <div class="mx-auto" style="width: 150px;height: 150px;">
                    <img th:src="${userInfo.avatar}" alt="tx" class="img-thumbnail"
                         style="height: 150px;width: 150px;">
                    <button class="btn btn-primary" style="width: 100%;" data-toggle="modal" data-target="#myModal"
                    >
                        更换头像
                    </button>
                </div>
            </div>
            <div class="col-md-10">
                <!--个人信息-->
                <form class="form-horizontal" action="/user/updateUserInfo" method="post">
                    <!--账户名-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">账户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="account"
                                   th:value="${userInfo.account}"
                                   readonly="readonly">
                        </div>
                    </div>
                    <!--昵称-->
                    <div class="form-group" style="margin-top: 10px;">
                        <label class="col-sm-2 control-label">昵称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="nick_name"

                                   th:value="${userInfo.nick_name}" maxlength="6" required="required">

                        </div>
                    </div>
                    <!--签名-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">我的介绍</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" name="introduction"

                                      th:text="${userInfo.introduction}" maxlength="20"></textarea>

                        </div>
                    </div>
                    <!--性别-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="gender"
                            >
                                <option value="女" th:selected="${userInfo.gender}=='女'?'true':'false'">女
                                </option>
                                <option value="男" th:selected="${userInfo.gender}=='男'?'true':'false'">男
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <span class="alert alert-danger" role="alert" th:if="${msg!=null}" th:text="${msg}"></span>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-success" style="width: 100%;" id="updateUserInfo">提交</button>
                        </div>
                    </div>
                </form>

            </div>


        </div>
    </div>

</div>

<div class="text-center" style="background-image: url('/imgs/info.jpg');"
     th:if="${session.userInfo.user_id!=userInfo.user_id}">
    <img th:src="${userInfo.avatar}" alt="头像" class="img-circle" style="border-radius:50%;margin-top:50px;" width="100"
         height="100">
    <h3>
        <span>[[${userInfo.nick_name}]]</span>

    </h3>
    <span>[[${userInfo.gender}]]  ,[[${userInfo.isOnline}]]</span>
    <p style="color: #5FB878;" th:if="${userInfo.role=='user'}">用户</p>
    <p style="color: #5FB878;" th:if="${userInfo.role=='admin'}">认证信息：管理员</p>
    <p style="color: #5FB878;" th:if="${userInfo.role=='seller'}">认证信息：签约卖家</p>
    <p style="color: #5FB878;" th:if="${userInfo.role=='service'}">认证信息：客服</p>
    <p class="fly-home-info">
        <i class="iconfont icon-shijian"></i><span>[[${#dates.format(userInfo.register_time, 'yyyy-MM-dd HH:mm')}]] 加入</span>
    </p>

    <p class="fly-home-sign">个人简介：[[${userInfo.introduction}]]</p>

    <div class="fly-sns" data-user="">
        <a class="btn btn-primary" data-type="chat" th:href="${'/user/chat/'+userInfo.user_id}"
           style="margin-bottom: 30px;">发起会话</a>
    </div>

</div>


<!-- 选择头像（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="file" id="img" name="img">
        </div>
    </div>
</div>

</body>
<!--fileInput-->
<script>
    $("#img").fileinput({
        language: 'zh',
        uploadUrl: "/file/img",
        dropZoneTitle: '点击或拖拽文件到此处',
        uploadExtraData: function () {
            return {path: "alinmama_avatar"};
        },//参数
        showBrowse: false,//选取按钮
        showUpload: true, //是否显示上传按钮
        showRemove: false, //显示移除按钮
        showCaption: false,//是否显示标题
        autoReplace: false,
        showClose: false,//关闭关闭按钮
        minFileCount: 1,//最小
        uploadAsync: true,//异步
        maxFileCount: 1,//最大上传数量
        browseOnZoneClick: true,//浏览区域单击选图片
        maxFileSize: 1024,//图片的最大值
        minFileSize: 1,//图片的最小值
        msgFilesTooMany: "选择上传的文件数量 超过允许的最大数值！",
        enctype: 'multipart/form-data',
        // overwriteInitial: false,//不覆盖已上传的图片
        allowedFileExtensions: ["jpg", "png"],
        layoutTemplates: {
            actionUpload: '',//去除上传预览缩略图中的上传图片
            actionZoom: '',  //去除上传预览缩略图中的查看详情预览的缩略图标
            actionDownload: '',//去除上传预览缩略图中的下载图标
            actionDelete: '', //去除上传预览的缩略图中的删除图标
        },
    }).on("filebatchselected", function (event, files) {
        //选取图片自动上传
        $(this).fileinput("upload");
    }).on("fileuploaded", function (event, data, previewId, index) {
        //异步上传成功回调函数 刷新页面
        window.location.reload()
    })


</script>
</html>